@page "/customeredit"
@page "/customeredit/{CustomerId}"
@using Blazor.Shared
@using Syncfusion.EJ2.Blazor.Inputs
@inherits CustomerEditBase

<section class="Customer-edit">
    @if (!Saved)
    {
        <h1 class="page-title">Details for @Customer.Name</h1>

        <EditForm Model="@Customer" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group row">
                <label for="name" class="col-sm-3">Name: </label>
                <InputText id="name" class="form-control col-sm-8" @bind-Value="@Customer.Name" placeholder="Enter name"></InputText>
            </div>

            <div class="form-group row">
                <label for="email" class="col-sm-3">Email: </label>
                <InputText id="email" class="form-control col-sm-8" @bind-Value="@Customer.Email" placeholder="Enter email"></InputText>
            </div>

            <div class="form-group row">
                <label for="postalCode" class="col-sm-3">Postal code: </label>
                <EjsMaskedTextBox ID="postalCode" Mask="99.999-999" CssClass="form-control col-sm-8" @bind-Value="@Customer.PostalCode"/>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="stage" class="col-sm-3">Stage: </label>
                        <InputCheckbox id="stage" class="form-control col-sm-8" @bind-Value="@Customer.Stage" placeholder="Enter stage"></InputCheckbox>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="customerType" class="col-sm-3">Customr Type: </label>
                        <InputSelect id="customerType" class="form-control col-sm-8" @bind-Value=@CustomerType>
                            <option value="@(CustomerType.Select)">Select</option>
                            <option value="@(CustomerType.Person)">Person</option>
                            <option value="@(CustomerType.Company)">Company</option>
                        </InputSelect>
                    </div>
                </div>
            </div>

            @if (Customer.Type == 1)
            {
                <div class="form-group row">
                    <label for="personCPF" class="col-sm-3">CPF: </label>
                    <EjsMaskedTextBox ID="personCPF" Mask="999.999.999-99" CssClass="form-control col-sm-8" @bind-Value="@Customer.Person.CPF"/>
                </div>
            }
            else if (Customer.Type == 2)
            {
                <div class="form-group row">
                    <label for="companyName" class="col-sm-3">Company Name: </label>
                    <InputText id="companyName" class="form-control col-sm-8" @bind-Value="@Customer.Company.Name" placeholder="Enter the company name"></InputText>
                </div>
                <div class="form-group row">
                    <label for="companyCNPJ" class="col-sm-3">CPNJ: </label>
                    <EjsMaskedTextBox ID="companyCNPJ" Mask="99.999.999/9999-99" CssClass="form-control col-sm-8" @bind-Value="@Customer.Company.CNPJ" />
                </div>
            }

            <button type="submit" class="btn btn-primary edit-btn">Save customer</button>
            <a class="btn btn-outline-primary edit-outline-btn" @onclick="@NavigateToOverview">Cancel</a>
            @if (Customer.Id != Guid.Empty)
            {
                <a class="btn btn-danger" @onclick="@DeleteCustomer">
                    Delete
                </a>
            }
        </EditForm>

    }
    else
    {
        <div class="alert @StatusClass">@Message</div>
        <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>

    }
</section>
